.button {
	-fx-padding: 5px;
}

.tool-bar-button {
    -fx-background-color: null;
}

.tool-bar-button:hover, .tool-bar-button:armed {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.tool-bar-button:focused {
	-fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
}

