.button {
	-fx-padding: 5px;
}

.entities {
	-fx-background-insets: 0, 1;
    -fx-padding: 0 0 1 0;
}

.entities:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
	-fx-background-insets: 0, 1;
    -fx-padding: 0 0 1 0;
}


.values {
    -fx-background-insets: 0 0 0 0, 0 0 0 1;
    -fx-padding: 0 0 0 1;
}

.values:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0 0 0 0, 0 0 0 1;
    -fx-padding: 0 0 0 1;
}


.split-pane {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}

.tool-bar-button {
    -fx-background-color: null;
}

.tool-bar-button:hover, .tool-bar-button:armed {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.tool-bar-button:focused {
	-fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
}


.titled-pane > .title {
	    -fx-background-insets: -1 0 0 -1, 0 1 1 0, 1 2 2 1;
    -fx-background-radius: 0 0 0 0, 0 0 0 0, 0 0 0 0;
}

.titled-pane > *.content {
    -fx-border-insets: -1 0 0 -1;
}

.menu-button > .arrow-button > .arrow {
    -fx-background-color: transparent, transparent;
    -fx-background-insets: 0 0 0 0, 0;
    -fx-padding: 0em;
}

.menu-button:openvertically > .arrow-button > .arrow {
    -fx-background-color: transparent, transparent;
    -fx-background-insets: 0 0 0 0, 0;
    -fx-padding: 0;
}

.menu-button > .arrow-button {
    -fx-padding: 0;
}