.tool-bar-button {
    -fx-background-color: null;
}

.tool-bar-button:hover, .tool-bar-button:armed {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
}

.tool-bar-button:focused {
	-fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
}

.entry-separator .line {
    -fx-border-color: transparent transparent #dddddd transparent, transparent;
    -fx-border-insets: 0 0 1 0, 0 0 0 0;
}
