.button {
	-fx-padding: 5px;
}

.entities {
	-fx-background-insets: 0, 1;
    -fx-padding: 0 0 1 0;
}

.entities:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
	-fx-background-insets: 0, 1;
    -fx-padding: 0 0 1 0;
}


.values {
    -fx-background-insets: 0 0 0 0, 0 0 0 1;
    -fx-padding: 0 0 0 1;
}

.values:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0 0 0 0, 0 0 0 1;
    -fx-padding: 0 0 0 1;
}


.split-pane {
    -fx-background-insets: 0, 0;
    -fx-padding: 0;
}